.content {
  flex: 50%;
  max-width: 750px;
}

.leftMargin {
  flex: 40%;
}

@media screen and (max-width: 900px) {
  .content {
    flex: 65%;
  }
  .leftMargin {
    flex: 25%;
  }
}

@media screen and (max-width: 600px) {
  .content {
    flex: 80%;
  }
  .leftMargin {
    flex: 10%;
  }
}
