.container {
  display: flex;
  width: 75%;
}

.form {
  display: flex;
  flex-direction: column;
}

.labelLeft {
  padding-left: 5px;
}

.labelRight {
  padding-right: 5px;
}

.rightContainer {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}