.mainContainer {
  margin: 0 auto;
  /*padding: 1.45rem 1.0875rem 1.45rem 2rem;*/
  height: 60px;
  position: absolute;
  min-width: 320px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.postContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 60px;
  width: 100%;
}

.links {
  flex: 50%;
  max-width: 750px;
  white-space: nowrap;
}

.rightMargin {
  flex: 10%;
  max-width: 360px;
}

.leftMargin {
  flex: 40%;
}
